*{
	box-sizing: border-box;
}

.border{
    border: red solid 2px;
}
.border-2{
    border: #1ed760 solid 2px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #0f1f14;
	
}

::-webkit-scrollbar
{
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: #1EB854;
	border-radius: 20px;       /* roundness of the scroll thumb */
  }